@media (min-width: 1200px)
	#Green-Fablab
		width: 1140px
		max-width: 100%

#Green-Fablab
	//width: 1140px	
	background: white
	//top: -100px
	box-shadow: 5px 5px 5px $silver
	border: 1px solid $silver		

.Icon
	background: $Purple-LF2L
	width: 80px
	height: 80px
	border-radius: 50%		
			
