<section class="GF-Title">
	

	<!-- Banner Pictures of the Presentation section -->
	<div class="Background-Title">
		<img src="{{ site.baseurl}}/assets/img/2-Presentation/Banner-1.jpg" class="img-responsive" alt="Green FabLab Title">
	</div>

	
	<!-- Logo Lorraine Fab Libin Lab -->
	<div class="container-fluid">
		<div class="row">
			<!-- Espace of 1 column-->
			<div class="col-md-1"></div>	

			<!-- Section of LF2L Logo -->
			<div class="col-md-10 Title">

				<div class="row GF-Title"> 
					
					<!-- Logo -->
					<div class="col-md-12">
						<img src="{{ site.baseurl}}/assets/img/2-Presentation/Logo-LF2L.jpg" class="img-responsive" alt="Green FabLab Title">
					</div>
					
				</div>	
				
				
				<div class="row">
					<div class="col-md-1"></div>	
					<div class="col-md-10 GF-description">
							<div class="row">							
								<div class="col-md-12">
									<h6>{{ site.data.settings.description }}</h6>
									
								</div>
							</div>
						

							<div class="row">								
								<div class="col-xs-4">
									<div class="Icon">

										<img src="{{ site.baseurl}}/assets/img/title/3DP.svg" class="img-responsive"  alt="Icon Recycling" align="middle">										
									
									</div>
									<div class="clearfix"></div>
									<p class="lead text-center">Materialiser</p>
								</div>

								<div class="col-xs-4">
									<div class="Icon">

										<img src="{{ site.baseurl}}/assets/img/title/Recycling.svg" class="img-responsive"  alt="Icon Recycling" align="right">
										<!-- <p class="lead">Recycling</p> -->
									
									</div>
									<div class="clearfix"></div>
									<p class="lead text-center">Associer</p>
								</div>

								<div class="col-xs-4">
									<div class="Icon">

										<img src="{{ site.baseurl}}/assets/img/title/Local3.svg" class="img-responsive"  alt="Icon Recycling" align="middle">
										<!-- <p class="lead">Local</p> -->
									
									</div>
									<div class="clearfix"></div>
									<p class="lead text-center">Innover</p>
								</div>

							</div>
						</div>	
				</div>
				
			</div>

			<div class="col-md-1"></div>	
		</div>


	</div>

	
</section>

  