<section class="GF-Title">
	

	<!-- Banner Pictures of the Presentation section -->
	<div class="Background-Title">
		<img src="{{ site.baseurl}}/assets/img/2-Presentation/Banner-1.jpg" class="img-responsive" alt="Green FabLab Title">
	</div>

	
	<!-- Logo Lorraine Fab Libin Lab -->
	<div class="container-fluid">
		<div class="row">
			<!-- Espace of 1 column-->
			<div class="col-md-1"></div>	

			<!-- Section of LF2L Logo -->
			<div class="col-md-10 Title">

				<div class="row GF-Title"> 
					
					<!-- Logo -->
					<div class="col-md-12">
						<img src="{{ site.baseurl}}/assets/img/2-Presentation/Logo-LF2L.jpg" class="img-responsive" alt="Green FabLab Title">
					</div>
					
				</div>

				<!-- Iconos de LF2L  -->
				<div class="row">								
								<div class="col-xs-2 col-xs-offset-3">
									<div class="Icon">

										<img src="{{ site.baseurl}}/assets/img/3-Presentation/icon-meterialiser.png" class="img-responsive"  alt="Icon Recycling" align="middle">										
									
									</div>
									<div class="clearfix"></div>
									<p class="lead text-center">Materialiser</p>
								</div>

								<div class="col-xs-2">
									<div class="Icon">

										<img src="{{ site.baseurl}}/assets/img/title/Recycling.svg" class="img-responsive"  alt="Icon Recycling" align="right">
										<!-- <p class="lead">Recycling</p> -->
									
									</div>
									<div class="clearfix"></div>
									<p class="lead text-center">Associer</p>
								</div>

								<div class="col-xs-2">
									<div class="Icon">

										<img src="{{ site.baseurl}}/assets/img/title/Local3.svg" class="img-responsive"  alt="Icon Recycling" align="middle">
										<!-- <p class="lead">Local</p> -->
									
									</div>
									<div class="clearfix"></div>
									<p class="lead text-center">Innover</p>
								</div>

							</div>
				
				
				<div class="row">
					<div class="col-md-1"></div>	
					<div class="col-md-10 GF-description">
							<div class="row">							
								<div class="col-md-12">
									<h5>{{ site.data.settings.description }}</h5> <br>

									<p>Le Lorraine Fab Living Lab® (LF2L®) permet d’accompagner la création et l’obtention de résultats immédiats grâce à un processus établi basé sur le paradigme de l’usage. En réunissant en un même espace des outils de pointe complémentaires, le LF2L® facilite le travail de réflexion collaborative et de développement de l’innovation. L’originalité du LF2L® est de pouvoir accueillir, accompagner, associer différentes communautés (citoyens utilisateurs, entrepreneurs, chercheurs, etc.) via un dispositif scientifique et technique capable d’accélérer le passage de l’idée ou concept abstrait (2D) à leur matérialisation (3D virtuelle ou prototypée) en les évaluant (4D – scénarios d’évolution)</p>

								</div>
							</div>						
						</div>	
				</div>

				<!-- Presentation of the Communities -->

				<div class="row">

					<div class="col-xs-2 col-xs-offset-1">
						<div class="Icon">
							<img src="{{ site.baseurl}}/assets/img/title/3DP.svg" class="img-responsive"  alt="Icon Recycling" align="middle">																
						</div>
						<div class="clearfix"></div>
						<p class="lead text-center">Entreprises</p>
					</div>

					<div class="col-xs-2">
						<div class="Icon">
							<img src="{{ site.baseurl}}/assets/img/title/3DP.svg" class="img-responsive"  alt="Icon Recycling" align="middle">										
						</div>
						<div class="clearfix"></div>
						<p class="lead text-center">Makers</p>
					</div>

					<div class="col-xs-2">
						<div class="Icon">
							<img src="{{ site.baseurl}}/assets/img/title/3DP.svg" class="img-responsive"  alt="Icon Recycling" align="middle">										
						</div>
						<div class="clearfix"></div>
						<p class="lead text-center">Étudiants</p>
					</div>

					<div class="col-xs-2">
						<div class="Icon">

							<img src="{{ site.baseurl}}/assets/img/title/Recycling.svg" class="img-responsive"  alt="Icon Recycling" align="right">
							<!-- <p class="lead">Recycling</p> -->
						
						</div>
						<div class="clearfix"></div>
						<p class="lead text-center">Universitaires</p>
					</div>

					<div class="col-xs-2">
						<div class="Icon">

							<img src="{{ site.baseurl}}/assets/img/title/Local3.svg" class="img-responsive"  alt="Icon Recycling" align="middle">
							<!-- <p class="lead">Local</p> -->
						
						</div>
						<div class="clearfix"></div>
						<p class="lead text-center">Institutions</p>
					</div>					
					
				</div>
				
			</div>

			<div class="col-md-1"></div>	
		</div>


	</div>

	
</section>

  