<footer>
	<div class="container-fluid">
	<div class="row">
	  
	  <div class="col-8 col-sm-5 col-md-3 ">               
		<img src="{{ site.baseurl }}/assets/img/footer/UL-LF2L.svg" class="img-fluid" alt="UL-LF2L Logo">
	  </div>

	  <div class="col-4 col-sm-7 col-md-3 ">               
		<img src="{{ site.baseurl }}/assets/img/footer/logo-ERPI.svg" class="img-fluid" alt="ERPI Logo">
	  </div>

	  <div class="col-4 col-sm-7 col-md-5 ">
		
		<div class="content-wrap">
		  <!-- <nav>
		  {% for item in site.data.navigation %}
		  <a href="{{ item.url }}">{{ item.title }}</a>
		  {% endfor %}
		  </nav> -->

		  <p class="lead">Powered by Université de Lorraine &amp; ERPI</p>
		</div>
	  </div>
	</div>

	</div>
   </div>

  
</footer>