<section class="section-mission">

	<h3>Creating a local recycling system would open up new opportunities for the circular economy</h3>
			
	<div class="icons">
		
		<div class="icon-3DP">
		{% include icons/icon-3DP.html %}
		<strong class="keywords">Fabrication</strong>
		</div>
		
		<div class="icon-recycling">
		{% include icons/icon-recycling.html %}		
		<strong class="keywords">Recycling</strong>
		</div>
		
	
		
		
		<div class="icon-local">
		{% include icons/icon-local.html %}
		<strong class="keywords">Local</strong>
		</div>		

	</div>
	

</section>