<section  id="our-vision" class="section-presentation">
	

	<div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr>
                    <div class="clearfix"></div>
                    <h4>What is a <br> Green FabLab</h4>
                    <p class="lead">Environmental issues are the challengue of the XXI. </p>
                    <br>
                    <a href="{{ site.baseurl }}/presentation/" class="btn btn-info" role="button">Presentation SFGP August 2017</a>
                    
                </div>
                
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                	<a href="{{ site.baseurl }}/presentation/">
                    	<img src="{{ site.baseurl }}/assets/img/presentation/Recycling.jpg"  class="img-responsive img-thumbnail" alt="Presentation">
                    </a>
                </div>
            </div>
        </div>	
</section> 