
// Modifying Navigation directly from the boostrap variables

// Navbar
$dropdown-bg: $Purple-LF2L // Background of the dropdown menus
$dropdown-link-hover-bg: darken($Purple-LF2L, 10%) // Background over the links in the dropdown menus



$modal-lg: 1000px // Changing Large of Modals
//$modal-backdrop-bg:  $Purple-LF2L !default

@import "../node_modules/bootstrap/scss/variables"
