---
layout: default
title: Green Fablab - LF2L


Folder-Images: /assets/img/3-Projets/Green-Fablab/
Folder-Images-Proj-1: /assets/img/3-Projets/Green-Fablab/articles/proj-1/  

Image-BG: BG-Title.jpg
Image-Logo: Logo-GF.png

---



<section>
	<!-- Image Background of the title-->
	<div class="header-communautes" style="background-image: url( {{ site.baseurl | append: page.Folder-Images | append: page.Image-BG }});"></div>

	<div class="container-fluid" id="Green-Fablab1">
					

		<div class="row">
			<div class="col-12">
				<img src="{{ site.baseurl | append: page.Folder-Images | append: page.Image-Logo }}" class="img-fluid mx-auto d-block" alt="Green FabLab Title" style="width: 100%">		
			</div>				
		</div>


		<div class="row justify-content-center">
			<div class="col-4 col-sm-2  text-center">
				<figure class="figure">
					<img src="{{ site.baseurl | append: page.Folder-Images | append: "Icons/" | append: "3DP.svg" }}" 
					class="figure-img img-fluid Icon"  
					alt="Icon Fabrication">					
					<figcaption class="figure-caption">
						<h6>Fabrication</h6>
					</figcaption>
				</figure>
								
			</div>

			<div class="col-4 col-sm-2  text-center">
				<figure class="figure">
					<img src="{{ site.baseurl | append: page.Folder-Images | append: "Icons/" | append: "Recycling.svg" }}" 
					class="figure-img img-fluid Icon"  
					alt="Icon Recycling">					
					<figcaption class="figure-caption">
						<h6>Recycling</h6>
					</figcaption>
				</figure>
			</div>
			

			<div class="col-4 col-sm-2  text-center">
				<figure class="figure">
					<img src="{{ site.baseurl | append: page.Folder-Images | append: "Icons/" | append: "Local.svg"}}" 
					class="figure-img img-fluid Icon"  
					alt="Icon Local">					
					<figcaption class="figure-caption">
						<h6>Local</h6>
					</figcaption>
				</figure>
								
			</div>
			
		</div>
	
	
		<div class="row justify-content-center bg-faded">
				
			<div class="col-12 col-md-8">
				<h4 class="text-center mt-5">
					<b>La création d'un filière de récyclage local du plastique pour l'impression 3D ouvrira des nouvelles opportunités pour l'economie circulaire.</b>
					<!-- <b>Creating a local recycling system would open up new opportunities for the circular economy</b> -->
				</h4> <br>

				<!-- <p class="text-justify">Creating a local recycling system would open up new opportunities for the circular economy</p> -->
				
				<p class="text-justify">Notre concept de <em>Green Fablab</em> est lieé au croissement de plsieurs tendence sociétaux tels que l'interêt de l'impression .				
					filière pour recycler sont des pistes importantes pour formaliser cet approche
				distribuée de recyclage. Et notamment, ces éléments peuvent être intégrées dans un concept de Green
				Fablab, dont ces matières recyclés peuvent être réutilisées dans ces espaces de co-création</p>


			</div>
													
						
		</div>
	
		<!-- </div>
		</div> -->
	</div>
</section>


<section class="mt-5 pt-4">
	<hr class="featurette-divider">
	<div class="container marketing">

		<h4 class="display-4 text-center mb-4">Green FabLab <small class="text-muted">en quelques images</small>
		</h4>	
		<!-- START THE FEATURETTES -->

		<div class="row justify-content-center">
		    <div class="col-12">
		        <div class="row">
		            <a href="{{ site.baseurl | append: page.Folder-Images | append: 'BD/Fabio-MT180-I.jpg' }}" data-toggle="lightbox" 
		            data-gallery="example-gallery" class="col-4">
		                <img src="{{ site.baseurl | append: page.Folder-Images | append: 'BD/Fabio-MT180-I.jpg' }}" class="img-fluid">
		            </a>
		            
		            <a href="{{ site.baseurl | append: page.Folder-Images | append: 'BD/Fabio-MT180-II.jpg' }}" data-toggle="lightbox" 
		            data-gallery="example-gallery" class="col-4">
		                <img src="{{ site.baseurl | append: page.Folder-Images | append: 'BD/Fabio-MT180-II.jpg' }}" class="img-fluid">
		            </a>
		            
		            <a href="{{ site.baseurl | append: page.Folder-Images | append: 'BD/Fabio-MT180-III.jpg' }}" data-toggle="lightbox" 
		            data-gallery="example-gallery" class="col-4">
		                <img src="{{ site.baseurl | append: page.Folder-Images | append: 'BD/Fabio-MT180-III.jpg' }}" class="img-fluid">
		            </a>
		        </div>		        
		    </div>
		</div>
		
		<hr class="featurette-divider">
		<div class="row featurette align-items-center">			
			<div class="col-md-5 order-md-1">
				<img class="featurette-image img-fluid mx-auto img-thumbnail" 
				src="{{ site.baseurl | append: page.Folder-Images | append: 'LF2L.jpg'}}" 
				alt="LF2L image">
			</div>

			<div class="col-md-7">
				<h2 class="featurette-heading">Espace de Co-création</h2>
				<p>  
					Les espaces de co-création « open labs » tels que Fab Labs, Living Labs, hackerspaces / makerspaces, TechShops sont une phénomène émergent en France et au monde. <br>

					Ils constituent un lieu et unedémarche portés par des acteurs divers, en vue de renouveler les modalités d’innovation et de création par la mise en œuvre de processus collaboratifs et itératifs, ouverts et donnant lieu à une matérialisation
					physique ou virtuelle.
				</p>
			</div>

		</div>


		<hr class="featurette-divider">

		<div class="row featurette align-items-center">
			<div class="col-md-7">
				<h2 class="featurette-heading">Impression 3D Open-Source (OS)</h2>
				<p>
					C'est l’une des technologies identifiées comme ayant un fort potentiel d’impact sur les systèmes de production.
					Mais aussi plus largement, sur notre style de vie dans les
					années à venir. Sa principale particularité par rapport à la fabrication additive classique est le caractère collaboratif de
					l’open source qui permet des évolutions rapides et créatives, et ceci à moindre coût.</p>
					
				<p>
					Cette révolution technologique tpeut se développer tout en intégrant les défis sociétaux actuels
					et plus particulièrement les enjeux environnementaux.</p>
				<br>
                    
                   
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto img-thumbnail" 
				src="{{ site.baseurl | append: page.Folder-Images | append: '3DP.jpg'}}" 
				alt="3DP image">							
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette align-items-center">			
			<div class="col-md-5 order-md-1">
				<img class="featurette-image img-fluid mx-auto img-thumbnail" 
				src="{{ site.baseurl | append: page.Folder-Images | append: 'Recycling.jpg' }}" 
				alt="Generic placeholder image">
			</div>

			<div class="col-md-7">
				<h2 class="featurette-heading">Potentiel de recyclage de polymères dédiés à la Impression 3D OS</h2>
				
				<p>
					Des recherches permettant de mieux développer les innovations sur les systèmes
					de recyclage de déchets actuels grâce à la fabrication additive open-source sont une opportunité pour contribuer tout du
					moins partiellement, à résoudre la problématique globale que représente l’accumulation de matière
					plastique dans la nature. <br>

					Le <em><b>Green Fablab</b></em> est un vision qui permettra agir sur les défis sociatux actuels vers une paradigme d'economie circulaire ou le concept de déchet sera redefinie.
					

					
				</p>

					<a href="{{ site.baseurl | append: "/Sections/Projets/Green-Fablab-PPT/" }}" class="btn btn-info" role="button">Plus de détails</a>
			</div>

		</div>

		<hr class="featurette-divider">
		<!-- /END THE FEATURETTES -->
	</div>

</section>

<section class="mt-5">
	<div class="container">
		
		<h4 class="display-4 text-center my-5 ">Nos partenaires</h4>	

		<div class="row">

			{% for Partners in site.data.projets.Partenaires-GF %}
				<div class="col-12 col-md-4 text-center">
					<div class="card my-3" style="border: none;">
						
						<a href="{{ Partners.url }}">

							<img src="{{ site.baseurl | append: page.Folder-Images | append: '/logos/' | append: Partners.image }}" 
							class="card-img-top img-fluid" 
							alt="Card image cap"  style="width: auto; height:150px; object-fit: cover;overflow: hidden;">

						</a>
						<hr class="featurette-divider my-1">
					  <div class="card-block">
					    <a href="{{ Partners.url }}"><p class="card-text">{{ Partners.title }}</p></a>
					  </div>
					</div>
				</div>	
			{% endfor %}

		</div>	
		

		<hr class="featurette-divider">
		

	</div>


		
</section>


<section class="mt-5">

	<div class="container">
		<h4 class="display-4 text-center my-5 ">Notre recherche</h4>	


      <div class="row text-center text-lg-left">

			 
		{% for Projets in site.data.projets.Green-Fablab %}			 

			<div class="col-12 col-sm-6 col-md-4  mt-3">
			    <div class="hovereffect">
			        <img class="img-fluid img-thumbnail" 
			        src="{{site.baseurl | append: page.Folder-Images | append: "articles/" | append: Projets.folder | append: "thumb.png"}}" alt="">
			        <div class="overlay">
						<h2>{{ Projets.name }}</h2>						
						<p class="info" data-toggle="modal" data-target="{{ Projets.id | prepend: "#"}} " >{{ Projets.description }} 
							<br> <span class="more-details" style="float: right;">More details...</span></p>
						
						{% include Projets/Green-Fablab/{{ Projets.folder }}/description.html %}

			        </div>
			    </div>
			</div>
			
	
      	{% endfor %}
      </div>

    </div>


	<hr class="featurette-divider">
</section>	





<!-- Nos Etudiants -->
<section>
	<div class="jumbotron">
		<div class="container-fluid">
			
			<h3 class="display-3 my-4 text-center">Nos étudiants</h3>

	 		<div class="row">
		

				<div id="Controles-Equiper-GF" class="carousel slide" data-ride="carousel" data-interval="8000">
					
				
					<div class="carousel-inner col-10 offset-1">
						{% for banner in site.data.projets.Equipe-Green-Fablab %}
						
						<div class="carousel-item {{ banner.prioridad }}">	
							
								<div class="row">
															
									<figure class="figure col-12 col-md-2 text-center">
										<img src="{{ site.baseurl | append: page.Folder-Images | append: "equipe/" | append: banner.avatar }}"
										class="figure-img img-fluid rounded" alt="Students Green FabLab">
										<figcaption class="figure-caption">{{ banner.name}}.</figcaption>
										<p><small>{{ banner.ecole}}</small> <br>
											
											 
												
												{% if banner.linkedin %}
													<a href="{{ banner.linkedin }}">
														<i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
												{% endif %}
												
												{% if banner.email %}
													<a href="mailto:{{ banner.email }}">
														<i class="fa fa-envelope" aria-hidden="true"></i></a>
												{% endif %}											
										</p>	
										
									</figure>
					
									<blockquote  class="blockquote col-12 col-md-10">					
										{{ banner.quote}}									
					                </blockquote>

				                </div>

						</div>

						{% endfor %}
					</div>

					<!-- Controls of the Carousel -->
					<!-- Previous -->
					<a class="carousel-control-prev" href="#Controles-Equiper-GF" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>

					<a class="carousel-control-next" href="#Controles-Equiper-GF" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				
				</div>

			</div>

		</div> <!-- Container  -->
	</div> <!-- Jumbotron  -->
</section>












