---
layout: default
title: Equipe LF2L
---


<div class="jumbotron">
	<div class="container">
		<h3 class="display-3">Equipe</h3>
	</div>
</div>


<div class="container my-5">
	<div class="row">
		{% for Equipe in site.data.settings.Equipe %}
			<div class="col-lg-4 text-center">

<!-- 				<div class="car text-center">
					<img class="card-img-top rounded-circle mt-5" 
					src="{{ site.baseurl }}/assets/img/Info-Pratique/Equipe/{{ Equipe.image }}" width="200" height="200" alt="Card image cap">
					
					<div class="card-block">
						<h4 class="card-title">{{ Equipe.name }}</h4>
						<p class="card-text">{{ Equipe.description }}</p>
					</div>
				
				<div class="card-footer">
					{% if Equipe.linkedin %}
						<a href="{{ Equipe.linkedin }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					{% endif %}
					
					{% if Equipe.google-scholar %}
						<a href="{{ Equipe.google-scholar }}"><i class="ai ai-google-scholar-square ai-2x" aria-hidden="true"></i></a>
					{% endif %}
					{% if Equipe.researchgate %}
						<a href="{{ Equipe.researchgate }}"><i class="ai ai-researchgate-square ai-2x" aria-hidden="true"></i></a>
					{% endif %}
					{% if Equipe.mendeley %}
						<a href="{{ Equipe.mendeley }}"><i class="ai ai-mendeley-square ai-2x" aria-hidden="true"></i></a>
					{% endif %}
					
				</div>
				</div>
 -->
				<img class="rounded-circle mt-5" src="{{ site.baseurl }}/assets/img/Info-Pratique/Equipe/{{ Equipe.image }}" alt="Generic placeholder image" width="200" height="200">

				<h3 class="mt-3">{{ Equipe.name }}</h3>
				<p class="text-center mb-1">{{ Equipe.description }}</p>
								
				<div class="texte-center">
				{% if Equipe.linkedin %}
					<a href="{{ Equipe.linkedin }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				{% endif %}
				
				{% if Equipe.google-scholar %}
					<a href="{{ Equipe.google-scholar }}"><i class="ai ai-google-scholar-square ai-2x" aria-hidden="true"></i></a>
				{% endif %}
				{% if Equipe.researchgate %}
					<a href="{{ Equipe.researchgate }}"><i class="ai ai-researchgate-square ai-2x" aria-hidden="true"></i></a>
				{% endif %}
				{% if Equipe.mendeley %}
					<a href="{{ Equipe.mendeley }}"><i class="ai ai-mendeley-square ai-2x" aria-hidden="true"></i></a>
				{% endif %}
				</div>
				 
						
			</div>				
		{% endfor %}
	</div><!-- /.row -->
</div>

