---
layout: default
title: Equipe LF2L
---



<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Equipe</h1> 
  </div>
</div>

<div class="container">
	<div class="row">
		{% for Equipe in site.data.settings.Equipe %}
			<div class="col-lg-4">
				<img class="rounded-circle mt-5" src="{{ site.baseurl }}/assets/img/Info-Pratique/Equipe/{{ Equipe.image }}" alt="Generic placeholder image" width="200" height="200">

				<h2 class="mt-3">{{ Equipe.name }}</h2>
				<p>{{ Equipe.description }}<br>
								

				{% if Equipe.linkedin %}
					<a href="{{ Equipe.linkedin }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				{% endif %}
				
				{% if Equipe.google-scholar %}
					<a href="{{ Equipe.google-scholar }}"><i class="ai ai-google-scholar-square ai-2x" aria-hidden="true"></i></a>
				{% endif %}
				{% if Equipe.researchgate %}
					<a href="{{ Equipe.researchgate }}"><i class="ai ai-researchgate-square ai-2x" aria-hidden="true"></i></a>
				{% endif %}
				{% if Equipe.mendeley %}
					<a href="{{ Equipe.mendeley }}"><i class="ai ai-mendeley-square ai-2x" aria-hidden="true"></i></a>
				{% endif %}
				
				</p> 
						

			</div>				
		{% endfor %}
	</div><!-- /.row -->
</div>

