<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}  
  </head>
  
  <body>

    <main>

      {% include 1-Header.html %}
      {% include 2-Navigation.html %}
      
        {{ content }}
      
    </main>

    {% include footer.html %}


  
  


  <script src="{{ '/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/node_modules/tether/dist/js/tether.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{ '/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  



  <!-- Elements for Lightbox gallery -->
  <script src="{{ site.baseurl | append: '/assets/javascripts/lightbox-master/dist/ekko-lightbox.js' }}"></script>  
  
    


  <script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
    });
  </script>  
    
  </body>

</html>
