<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  
  <title>{{ site.data.settings.title }}</title>


  <!-- Bootstrap -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css">
  


</head>


<body>
  
  {% include 1-Header.html %}


  <main>
    {{content}}
  </main>



{%include footer.html %}


<script src="{{ site.baseurl }}/assets/bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.js"></script>
  

<script src="{{ site.github.url }}/assets/js/functions.js"></script>
  
</body>
</html>
