<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

 <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  
  <title>{{ site.data.settings.title }}</title>


  
	<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css"> -->

  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css"> -->


  <!-- Pixelarity-->
  <link rel="stylesheet" href="{{site.baseurl}}/resources/assets/sass/main.css" />


  
</head>


<body>
  


<main>
    {{content}}
  
</main>  



  

<script src="{{ site.github.url }}/assets/js/functions.js"></script>

<!-- For Bootstrap -->
<script src="{{ site.baseurl }}/assets/bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.js"></script>

  <!-- Scripts Pixelarity-->
  <script src="{{site.baseurl}}/resources/assets/js/jquery.min.js"></script>
  <script src="{{site.baseurl}}/resources/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{site.baseurl}}/resources/assets/js/skel.min.js"></script>
  <script src="{{site.baseurl}}/resources/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{site.baseurl}}/resources/assets/js/main.js"></script>


</body>
</html>